.routine-wrapper{
    width: 70%;
    margin: 5% 25%;
    font-family: Montserrat, sans-serif;
}

.days{
    display: flex;
    flex-direction: row;
}

.days a{
    flex: 1;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    border: 1px solid #d3d3d3;
    padding: 10px 0;
    text-align: center;
}

.days a:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.days a:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.days a:hover{
    background-color: #f5eab8;
}

.selected{
    background-color: #fed107;
}

/* Rutina */


.routine{
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin-top: 12px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.routine-header{
    display: flex;   
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title h2{
    font-size: 25px;
    font-weight: 600;
}

.title a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.exercice{
    border-top: 1px solid #d3d3d3;
    padding: 10px 0;
    width: calc(100% + 40px);
    margin-left: -20px;
    box-sizing: border-box;
}

.exercice-container{
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
}

.exercice-container h5{
    font-size: 16px;
    font-weight: 600;
}

.exercice-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.exercice-series-reps{
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.exercice-notes{
    display: flex;
    flex-direction: column;
    justify-content: right;
}