.routine-wrapper{
    width: 70%;
    margin: 5% 25%;
}

.days{
    display: flex;
    flex-direction: row;
}

.days a{
    flex: 1;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    border: 1px solid #d3d3d3;
    padding: 10px 0;
    text-align: center;
}

.days a:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.days a:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.days a:hover{
    background-color: #f5eab8;
}

.routine{
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin-top: 12px;
    border-radius: 12px;
    width: 100%;
}
.selected{
    background-color: #fed107;
}