.users-home-container {
    margin-left: 25%;
}

.users-home-container h2 {
    margin-top: 5%;
    font-size: 30px;
    font-weight: 800;
}

.class-container {
    border: 1px solid #d3d3d3;
    width: 95%;
    height: auto;
    margin-top: -2%;
    border-radius: 10px;
}

.class-preview {
    display: flex;
    flex-direction: row;
    padding: 1%;
    gap: 2%
}

.class {
    display: flex;
    flex-direction: column;
    padding: 2% 2% 5% 2%;
    background-color: #fa5ea9;
    border-radius: 20px;
}

.class h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.class p {
    margin: 0;
}

.class img {
    width: 245px;
    height: 153px;
    object-fit: cover;
    border-radius: 20px;
}

.teacher-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.teacher-container img {
    width: 24px;
    height: auto;
}

.teacher-container a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.home-bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.routine-preview-container h2 {
    margin: 5% 0%;
}

.routine-preview {
    width: 170%;
    height: 225px;
    border: 1px solid #d3d3d3;
    margin: 0;
}

.imc-container{
    margin-right: 5%;
}